@import './Colors.scss';
@import './Font.scss';

.avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	background-color: $dark-accent;
	color: $light-color;
	border-radius: 50%;
	border: 2px solid $dark-accent;
	cursor: pointer;
	margin-left: 0.5rem;

	p {
		font-size: $font-size-medium;
		cursor: pointer;
	}
}