/*
Color palette to use in this project.
This palette has been created using:
http://colormind.io/bootstrap/
*/

// Main colors
$light-color: #DDD1CA;
$light-accent: #9E572F;
$main-color: #295251;
$dark-accent: #9E572F;
$dark-color: #050B0A;
$black-color: #100909;

// Text colors
$primary-color: #999d96;
$info-color: #393b3b;
$success-color: #63aa65;
$warning-color: #e09a2d;
$danger-color: #f44336;

/* Template
# Light-on-Dark (Main theme)
Background - dark-color
Elements - light-color
Headers - main-color
*/