@import '../Reusable/Colors.scss';
@import '../Reusable/Font.scss';

$input-color: $main-color;

.input{
	width: 100%;
	border: 3px transparent;
	border-bottom: 3px solid $input-color;
	border-radius: 4px;
	height: 4rem;
	font-size: $font-size-medium;
}
.input:hover, .input:focus {
	border-bottom: none;
	margin-bottom: 3px;
	outline: 3px solid $input-color;
}