@import '../Reusable/Colors.scss';
@import '../Reusable/Font.scss';

.customerBooking {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;

	.filters {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid $dark-accent;
		margin-bottom: 1rem;

		.filter {
			cursor: pointer;
			font-size: $font-size-small;
			color: $dark-accent;
			padding: 1rem;
		}

		.active {
			cursor: default !important;
			font-weight: 700;
			border-bottom: 1px solid $light-accent;
		}
	}

	.bookingList {
		width: 100%;

		.errorText {
			color: $danger-color;
		}

		.bookingItem {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			background-color: $dark-accent;
			color: $light-color;
			padding: 2rem;
			border-radius: 1rem;
			margin-top: 1rem;
			margin-bottom: 1rem;

			.buttonContainer {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;
			}

			.button {
				width: fit-content;
				padding: 1rem;
				border-radius: 1rem;
				margin-top: 1rem;
				cursor: pointer;
			}
			.cancel {
				background-color: $danger-color;
			}
			.rate {
				background-color: $main-color;
			}
		}
		.bookingItem:first-child {
			margin-top: 0;
		}
		.bookingItem:last-child {
			margin-bottom: 0;
		}
	}

	.rating {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);

		.container {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: flex-start;
			width: 40%;
			padding: 1rem;
			background-color: $dark-accent;

			.ratingLabel {
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				align-items: center;
				width: 75%;

				p {
					width: 25%;
				}
				.ratingInput {
					width: 50%;
				}
			}
		}
	}
}