@import '../Reusable/Colors.scss';
@import '../Reusable/Font.scss';

.managerBooking {
	.filters {
		display: flex;
		flex-flow: row nowrap;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid $dark-accent;
		margin-bottom: 1rem;

		.bookingFilter {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			width: 100%;

			p {
				font-size: $font-size-small;
				color: $dark-accent;
			}

			.filterInput {
				margin-left: 1rem;
				width: 100%;
				font-size: $font-size-xsmall;
				height: 60%;
			}
		}
	}

	.bookingList {
		width: 100%;
		color: $dark-accent;

		td {
			text-align: center;
		}

		.cancelIcon {
			cursor: pointer;
			color: $danger-color;
		}
	}

	.newBookingButton {
		margin-top: 1rem;
		border-radius: 1rem;
		padding: 1rem;
		background-color: $main-color;
		width: fit-content;
		cursor: pointer;
	}

	.cancelConfirmation {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.75);

		.container {
			position: relative;
			top: 50%;
			left: 50%;
			width: 60%;
			transform: translate(-50%, -50%);
			padding: 1rem;
			border-radius: 1rem;
			background-color: $dark-accent;

			.buttonContainer {
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				align-items: center;
				margin-top: 1rem;

				.button {
					padding: 1rem;
					border-radius: 1rem;
					margin: 0 1rem;
					cursor: pointer;
				}

				.confirm {
					background-color: $danger-color;
				}
				.cancel {
					background-color: $primary-color;
				}
			}
		}
	}
}