@import '../Reusable/Colors.scss';

.manageTable {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	
	.container {
		position: relative;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: $dark-accent;
		padding: 2rem 4rem;
		border-radius: 1rem;
		width: 60%;

		.tableLabel {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			margin-top: 1rem;
			margin-bottom: 1rem;

			p {
				width: 20%;
			}

			.tableInput {
				width: 70%;
				margin-left: 1rem;
			}

			#age, #handicap {
				width: auto;
			}
		}
		.tableLabel:first-child{
			margin-top: 0;
		}
		.tableLabel:last-child{
			margin-bottom: 0;
		}

		.buttonContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 1rem;

			.button {
				margin: 0 1rem;
				padding: 1rem;
				border-radius: 1rem;
				width: fit-content;
				cursor: pointer;
			}
			.confirm {
				background-color: $success-color;
			}
			.cancel {
				background-color: $primary-color;
			}
		}
	}
}