@import '../Reusable/Colors.scss';
@import '../Reusable/Font.scss';

.scoreContainer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;

	.starContainer {
		position: relative;
		font-size: $font-size-large;
		margin-bottom: 0;
		// cursor: default !important;
		
		.scoreStar {
			font-size: $font-size-small;
		}
		
		.scoreMask {
			display: inline-block;
			position: absolute;
			right: 0;
			background-color: $dark-accent;
			opacity: 0.75;
		}
	}
	
	.scoreText {
		text-align: center;
		font-size: $font-size-small;
		margin-left: 1rem !important;
	}
	
}